@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400&family=Inter:wght@300;400;700&family=Noto+Serif:ital,wght@0,400;0,500;0,600;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  min-height: 100vh;
  position: relative;
}

:root {
  --black: #000000;
  --dark-grey: #1a1a1a;
  --white: #eeeeee;
  --blue: #068fff;
  --purple: #4e4feb;
}

header {
  min-width: 100vw;
}

nav {
  z-index: 1000;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  background-color: var(--black);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
    brightness(140%);
  position: fixed;
  min-width: 100vw;
}

.lang-menu ul li,
.selected-lang {
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 80px;
}

.lang-menu ul {
  background-color: var(--white);
  position: absolute;
  max-width: 80px;
  margin-top: 10px;
  margin-left: -8px;
  padding: 8px;
  height: 130px;
  border-radius: 0px 0px 5px 5px;
}

.selected-lang a {
  text-decoration: none;
  color: var(--white);
}

.selected-lang {
  position: relative;
  cursor: pointer;
  color: var(--white);
  padding: 2px;
}

ul li {
  list-style: none;
  line-height: 2;
}

.eng,
.swe,
.nor {
  text-decoration: none;
  color: var(--black);
}

.flag-box {
  max-width: 27px;
  max-height: 21px;
}

.lang-menu {
  border: 1px solid var(--white);
  background-color: transparent;
  border-radius: 5px;
  padding: 8px;
  max-width: 80px;
}

.sections-container {
  display: flex;
  align-items: center;
  gap: 40px;
  transition: all 0.3s linear;
}

.nav {
  text-decoration: none;
  font-weight: 500;
  color: var(--white);
  transition: all 0.3s linear;
  border-bottom: 1px solid transparent;
  font-size: 18px;
}

.nav:hover {
  color: var(--blue);
  border-bottom: 1px solid var(--blue);
}

.contact-nav-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-icon {
  width: 28px;
  height: 28px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.3s linear;
}

.nav-icon:hover {
  border-color: var(--blue);
}

.lets-talk-btn {
  background-color: transparent;
  font-size: 16px;
  padding: 8px;
  color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--white);
  cursor: pointer;
  transition: all 0.3s linear;
}

.lets-talk-btn:hover {
  color: var(--blue);
  border: 1px solid var(--blue);
}

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-of-type {
  margin-left: 0;
}

.three {
  display: none;
  margin-left: auto;
}

.row .three {
  padding: 80px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
}

.hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-6.is-active {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-6.is-active .line:nth-child(2) {
  width: 0px;
}

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#hamburger-6.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger-6.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

iframe {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.hero-txt-container {
  z-index: 100;
  position: absolute;
  top: 40%;
  left: 3%;
  color: var(--white);
}

.hero-h4 {
  font-weight: 300;
  color: var(--purple);
  font-size: 22px;
}

.hero-h1 {
  color: var(--white);
  font-size: 62px;
  font-weight: 600;
}

.name {
  font-weight: bolder;
  color: var(--blue);
  -webkit-text-stroke: 2px var(--black);
}

/******* Loader *******/
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
.spinner-box {
  /* Center vertically and horizontally */
  float: right;
  margin-top: 15%;
  margin-right: 30%;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.circle-border {
  width: 150px;
  height: 150px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(63, 249, 220);
  background: linear-gradient(
    0deg,
    rgba(63, 249, 220, 0.1) 33%,
    rgba(63, 249, 220, 1) 100%
  );
  animation: spin 0.8s linear 0s infinite;
}

.circle-core {
  width: 100%;
  height: 100%;
  background-color: var(--black);
  border-radius: 50%;
}
.lang-menu {
  margin-right: auto;
}
/* ********************* */

/* Reusable classes */
.hidden {
  display: none;
}

/* Media Queries */
@media (max-width: 950px) {
  header {
    position: relative;
  }
  .sections-container {
    z-index: 540;
    top: 0%;
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--black);
    transform: translate(1200px);
  }

  .contact-nav-container {
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    padding: 0 50px;
  }
  .three {
    z-index: 550;
    display: block;
  }

  .spinner-box {
    margin-top: 25%;
  }
}

.show-menu {
  transform: translate(0px);
}

@media (max-width: 650px) {
  .spinner-box {
    margin-top: 35%;
  }
}

@media (max-width: 500px) {
  .spinner-box {
    margin-top: 45%;
  }
}
